[Desktop Entry]
Encoding=UTF-8
Name=DroidCam
Comment=Use your phone as a webcam
TryExec=/usr/local/bin/droidcam
Exec=/usr/local/bin/droidcam
Icon=/opt/droidcam-icon.png
Terminal=false
Type=Application
Categories=Video;AudioVideo;
